<header>
    <ul class="nav-container">
        <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/tech', 'frontend']" routerLinkActive="active">Front End</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/tech', 'backend']" routerLinkActive="active">Back End</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/tech', 'testing']" routerLinkActive="active">Testing</a>
        </li>
    </ul>
</header>