.nav-container {
    display: flex;
    border-bottom: 1px solid #d3d3d3;
}

.nav-item {
    padding: 1.5rem;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 550px) {
    .nav-item {
        padding: 0.5rem;
    }
}
