<table>
    <tr>
        <th class="secondary">Name</th>
        <th>{{techDetail.name}}</th>
    </tr>
    <tr>
        <th class="secondary">Category</th>
        <th>{{techDetail.category}}</th>
    </tr>
    <tr>
        <th class="secondary">Latest Version</th>
        <th>{{techDetail.latestVersion}}</th>
    </tr>
    <tr>
        <th class="secondary">Documnetation</th>
        <th>
            <a target="_blank" [href]="techDetail.documentation">
                {{techDetail.documentation}}
            </a>
        </th>
    </tr>
</table>