tr th {
    padding: 0.5rem 2rem;
    text-align: initial;
    word-break: break-word;
}
.secondary {
    font-weight: 500;
}

@media (max-width: 550px) {
    tr th {
        padding: 0.5rem;
    }
}
