<table>
    <tr>
        <th class="secondary">Name</th>
        <th>{{data.name}}</th>
    </tr>
    <tr>
        <th class="secondary">Category</th>
        <th>{{data.category}}</th>
    </tr>
    <tr>
        <th class="secondary">Latest Version</th>
        <th>{{data.latestVersion}}</th>
    </tr>
    <tr>
        <th class="secondary">Documnetation</th>
        <th>
            <a target="_blank" [href]="data.documentation">
                {{data.documentation}}
            </a>
        </th>
    </tr>
</table>