<div *ngFor="let data of techDatas" class="list-container">
    <div *ngIf="!toggle[data.name]" class="tech-detail">
        <app-tech-detail [techDetail]="data"></app-tech-detail>
    </div>
    <div *ngIf="toggle[data.name]" class="tech-description">
        <p class="description">{{data.description}}</p>
    </div>
    <div class="button-area">
        <button (click)="toggle[data.name] = !toggle[data.name]"
            class="btn">{{!toggle[data.name] ? 'Description' : 'Back'}}</button>
    </div>
</div>