.list-container {
    border: 1px solid #d3d3d3;
    display: flex;
    padding: 1.5rem;
    margin-top: 1rem;
}

.button-area {
    align-items: flex-end;
    display: flex;
    margin-left: auto;
}

.button-area .btn {
    background: #808088;
    color: #ffffff;
    font-weight: 600;
}

.description {
    padding: 1.5rem;
}

@media (max-width: 767px) {
    .list-container {
        flex-direction: column;
    }
}
